<a href="https://colab.research.google.com/github/jayant3297/Pre_Placement_Training/blob/main/Mock_Test_1_Big_Data_PPT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a PySpark code to read a CSV file named "employees.csv" containing the following columns: "employee_id", "name", "age", "department". Display the top 10 records from the DataFrame.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ReadCSV").getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv("employees.csv", header=True, inferSchema=True)

# Display the top 10 records
df.show(10)

 Given a PySpark DataFrame named "sales_data" with columns "product_name" and "revenue", write a code to calculate the total revenue for each product and display the result in descending order.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum
from pyspark.sql.window import Window
from pyspark.sql.functions import desc

#SparkSession
spark = SparkSession.builder.appName("TotalRevenue").getOrCreate()

# Calculate total revenue for each product
total_revenue_df = sales_data.groupBy("product_name").agg(sum("revenue").alias("total_revenue"))

# Sort the result in descending order
sorted_df = total_revenue_df.orderBy(desc("total_revenue"))

# Display the result
sorted_df.show()

Write a PySpark code to read a JSON file named "students.json" containing student records with the following schema: "name" (string), "age" (integer), "grade" (string). Filter the DataFrame to include only students whose age is greater than 18.

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("FilterStudents").getOrCreate()

# Read the JSON file into a DataFrame
students_df = spark.read.json("students.json")

# Filter the DataFrame to include only students whose age is greater than 18
filtered_df = students_df.filter(students_df.age > 18)

# Display the filtered DataFrame
filtered_df.show()

Consider a PySpark DataFrame named "transactions" with columns "transaction_id", "user_id", and "amount". Write a code to calculate the average transaction amount for each user and display the result.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

# Create a SparkSession
spark = SparkSession.builder.appName("AverageTransaction").getOrCreate()

# Read the DataFrame
transactions_df = spark.read.csv("transactions.csv", header=True, inferSchema=True)

# Calculate the average transaction amount for each user
average_amount_df = transactions_df.groupBy("user_id").agg(avg("amount").alias("average_amount"))

# Display the result
average_amount_df.show()

Given a PySpark DataFrame named "logs" with columns "timestamp" (timestamp) and "event" (string), write a code to count the number of events that occurred in each hour and display the result sorted by the hour.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import hour
from pyspark.sql.types import TimestampType

# Create a SparkSession
spark = SparkSession.builder.appName("EventCount").getOrCreate()

# Read the DataFrame
logs_df = spark.read.csv("logs.csv", header=True, inferSchema=True)

# Convert timestamp column to timestamp type
logs_df = logs_df.withColumn("timestamp", logs_df["timestamp"].cast(TimestampType()))

# Extract the hour from the timestamp column
logs_df = logs_df.withColumn("hour", hour(logs_df["timestamp"]))

# Count the number of events per hour
event_count_df = logs_df.groupBy("hour").count().orderBy("hour")

# Display the result
event_count_df.show()

Retrieve all the customers from the "Customers" table whose age is greater than 25 and have made at least one purchase.

In [ ]:
SELECT *
FROM Customers
WHERE age > 25
  AND customer_id IN (
    SELECT customer_id
    FROM Purchases
    GROUP BY customer_id
    HAVING COUNT(*) > 0
  );

 Find the total number of orders placed by each customer and display the results in descending order of the number of orders.

In [ ]:
SELECT customer_id, COUNT(*) AS total_orders
FROM Orders
GROUP BY customer_id
ORDER BY total_orders DESC;

 Retrieve the names of all products that are currently out of stock from the "Products" table.

In [ ]:
SELECT name
FROM Products
WHERE stock_quantity = 0;

Calculate the average price of all products in each category and display the results along with the category name.

In [ ]:
SELECT c.category_name, AVG(p.price) AS average_price
FROM Products p
JOIN Categories c ON p.category_id = c.category_id
GROUP BY c.category_name;

Retrieve the top 5 customers who have spent the highest total amount on purchases.

In [ ]:
SELECT c.customer_name, SUM(o.total_amount) AS total_spent
FROM Customers c
JOIN Orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_name
ORDER BY total_spent DESC
LIMIT 5;